[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HoRM"]
	path = HoRM
	url = https://github.com/dsy109/horm
[submodule "ZIDW"]
	path = ZIDW
	url = https://github.com/dsy109/zidw
[submodule "mixtools"]
	path = mixtools
	url = https://github.com/dsy109/mixtools
[submodule "tolerance"]
	path = tolerance
	url = https://github.com/dsy109/tolerance
